{% extends 'base.html' %}

{% block content %}

<div class="topbar">

    <h1>Dashboard Financeiro</h1>


</div>
<select>

    <option>Maio 2026</option>
    <option>Junho 2026</option>
    <option>Julho 2026</option>

</select>
<div class="cards">

    <div class="card purple">
        <h3>Receitas</h3>
        <p>R$ {{ resumo.receitas }}</p>
    </div>

    <div class="card blue">
        <h3>Despesas</h3>
        <p>R$ {{ resumo.despesas }}</p>
    </div>

    <div class="card pink">
        <h3>Parcelamentos</h3>
        <p>R$ {{ resumo.parcelamentos }}</p>
    </div>

    <div class="card green">
        <h3>Saldo</h3>
        <p>R$ {{ resumo.saldo }}</p>
    </div>

</div>

<div class="charts">

    <div class="chart-card">

        <canvas id="graficoLinha"></canvas>

    </div>

    <div class="chart-card">

        <canvas id="graficoPizza"></canvas>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{ url_for('static', filename='js/chart.js') }}"></script>

<script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}