<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Controle Financeiro</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/login.css') }}">

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">

</head>

<body>

<div class="login-container">

    <div class="card-login">

        <div class="icon">
            🔒💰
        </div>

        <h1>Controle Financeiro</h1>

        <p>Painel Administrativo</p>

        <form method="POST">

            <input
            type="password"
            name="senha"
            placeholder="Digite sua senha">

            <button type="submit">
                Entrar
            </button>

        </form>

        {% if erro %}
            <span class="erro">{{ erro }}</span>
        {% endif %}

    </div>

</div>

</body>
</html>